
<div class="container-fluid" ng-controller="ItemListController">
	<div class="row">
		<div class="col-md-2">
			<!--Sidebar content-->

			<div>
				Search: <input ng-model="query">
			</div>
			<br/>
			<div>
				<a class="btn btn-default" href="#/new">Create</a>
			</div>
		</div>
		<div class="col-md-10">

			<!--Body content-->
			<ul class="list">
				<li ng-repeat="item in items | filter:query | orderBy:orderProp">
					<a href="#/edit/{{item.id}}" class="btn btn-primary">edit</a> <br />
					<div>
						<pre class="prettyJs">{{prettyJs(item)}}</pre>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>