@import net.amoeba.play2.jscrud.models._
@(title:String, jscrudParam:JSCRUDParam)(implicit rh:RequestHeader, menus:List[MenuItem])

@main(title, Some(jscrudParam)) {


@inc.menu(menus)

            <!-- Right side column. Contains the navbar and content of the page -->
            <div class="right-side">

                <section class="content">
                <div class="row">
				<div class="col-xs-6"></div>
				<div class="col-xs-6"><div flash-message="2000" ></div></div>                
                </div>
<!-- 5000 milli-secs is the display duration.
     Flash alert will be automatically dismissed after 2000 milli-secs.
-->
					<div ng-view></div>
                </section>
            </div>
            <div class="footer-main">
                Copyright &copy Amoeba Consulting Ltd - JSCRUD, 2015
            </div>



}